.container {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

.list {
    list-style: none;
    
}

.item {
  font-weight: 600;
  padding: 5px;
}

.icon {
 
}

.button {
  margin-right: 10px;
  font-weight: 600;
}